html {
  /* https://css-tricks.com/box-sizing/ */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3rem;
  --cardShadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


.cardRing {
  position: absolute;
  left: 50vw;
  top: 50vh;
  /* border: 3px solid blue; */
}

.card {
  --circleSize: -15rem;
}

.marker {
  --circleSize: -27rem;
}

.rot0 {
  transform: rotate(0deg) translate(0rem, var(--circleSize));
}

.rot45 {
  transform: rotate(45deg) translate(0rem, var(--circleSize));
}

.rot90 {
  transform: rotate(90deg) translate(0rem, var(--circleSize));
}

.rot135 {
  transform: rotate(135deg) translate(0rem, var(--circleSize));
}

.rot180 {
  transform: rotate(180deg) translate(0rem, var(--circleSize));
}

.rot225 {
  transform: rotate(225deg) translate(0rem, var(--circleSize));
}

.rot270 {
  transform: rotate(270deg) translate(0rem, var(--circleSize));
}

.rot315 {
  transform: rotate(315deg) translate(0rem, var(--circleSize));
}

.card {
  position: absolute;
  left: -3.5rem;
  top: -5.5rem;
  border: 3px solid gray;
  border-radius: 8px;
  width: 7rem;
  height: 11rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  justify-content: flex-start;
  align-items: center;
  box-shadow: var(--cardShadow);
  user-select: none;
  cursor: pointer;
}

.card.faceDown {
  /* https://www.magicpattern.design/tools/css-backgrounds */
  background-color: #e5e5f7;
  opacity: 0.8;
  background: repeating-linear-gradient(-45deg, #afb3ff, #afb3ff 5px, #e5e5f7 5px, #e5e5f7 25px);
}


.marker {
  position: absolute;
  left: -3.5rem;
  top: -5.5rem;
  border: 3px dashed gray;
  border-radius: 8px;
  width: 7rem;
  height: 11rem;
  user-select: none;
  cursor: pointer;
}

.arrowBar {
  border-bottom: 1px solid black;
}

.pictureArea {
  font-size: 5rem;
  text-align: center;
}

button {
  font-size: 3rem;
  text-align: center;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
}

.filled {
  box-shadow: var(--cardShadow);
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.player.active {
  /* border: 2px solid red; */
}

.player.inactive {
  opacity: 0.5;
}

span.active {
  font-weight: bold;
}